* {
    /*border: 1px solid red;*/
}
html {
    background: url(file:///Volumes/student/tj-lynn/chatter/client/images/bkgrnd.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

body {
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    padding: 50px 60px;
    /*border: solid #ddd;*/
    border-width: 0 1px 1px 1px;
}

#main {
    /*background: BELIZE HOLE;*/
    width: 380px;
    /*height: 380px;*/
    /*margin-top: 70px;*/
    /*border-radius: 10px*/
    /*opacity: .3;*/
    padding: 25px; 
    position: relative;
    left: -30px;

}

#main h1 {
    margin-top: 0;
    font-size: 100px;
    color: white;
    font-family: 'Lobster', cursive;
    margin-bottom: 5px;
    padding: 5px;
    padding-right: 100px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

input {
    border: 5px solid white; 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    width: 400px;
    font-size: 14px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}


.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #b6ccc6;
    opacity: 1;
    z-index: -1;
    border-radius: 10px;

}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

select {
    z-index: 1000;
    background-color: #f3f4f5;
    min-width: 220px;
    border: none;
    margin-top: 9px;
    padding: 0;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: none;
}

.title {
    width: 480px;
    position: relative;
    left: -20px;
}

.chat-container {
    padding-right: 500px;
}

.add-room {
    text-align: center;
    padding-bottom: 5px;
}

.buttons {
    text-align: center;
}
